.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-title {
  margin: 22px 0 2px 0;
}

.project-explanation {
  margin: 12px;
}

.project-photo {
  width: 600px;
  border-radius: 2%;
  margin-bottom: 5px;
}

.project-photo{
  border: solid 4px var(--normal-text);
  border-radius: 10px;
}

.end-project {
  text-align: center;
  margin: 12px;
}

.github-link {
  margin-bottom: 10px;
  color: var(--normal-text);
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 700px) {
  .project-photo {
    width: 80vw;
  }
  .photo-container {
    height: 40vw;
  }
}

